  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background-color: white;
    /* opacity: 0.3; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    justify-content: center;
    /* border: 1px solid black; */
  }

  .grid button {
    background-color: #cfcfcf;
    font-size: 24px;
    outline: none;
    cursor: pointer;
  }

  .footer {
    margin-top: 25px;
    /* margin-left: 60px; */
    display: flex;
    justify-content: space-between;
  }

  .footer button { 
    /* border: none; */
    font-size: 20px;
    /* font-weight: bold; */
    /* border-radius: 5px; */
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); */
    /* padding: 5px; */
    width: 120px;
    /* background-color: #D4EE9F; */
    /* color: #003333; */
    outline: none;
    cursor: pointer;
  }

  #message {
    color: #1a9eeb;
    height: 80px;
    display: none;
  }

  #hint{
    display: block;
    margin-left: 10px;
  }

  #reset{
    display: block;
    margin-right: 10px;
  }